extends layout

block content
    form(action="/search-events", method="POST", id="searchApptsForm")
        fieldset
            label
                strong First, please select the calendar you would like to search:
            select(name="calendarList", value="choose a calendar", class="select-block span5")
                for calendar in calendarList
                    option(value="#{calendar.id} #{calendar.timeZone}")= calendar.summary
            label
                strong Then, give me some criteria to search by:
            label Someday Between:
            input(id="apptStartDate", name="apptStartDate", type="date")
            span  AND 
            input(id="apptEndDate", name="apptEndDate", type="date")
            label Appointment Start Time:
            input(id="apptEndTime", name="apptStartTime", type="time")
            label Appointment End Time:
            input(id="apptEndTime", name="apptEndTime", type="time")
            br
            button(id="submitApptSearch", type="submit", class="btn btn-large btn-primary") Find Time
        p(align="right")
            form(align="right", action="/logout")
                input(class="btn", type="submit", value="Log me out.")