doctype 5
html
  head
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/google-directions.css')
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2rYjoab1qlDJNifetNZun-qaLFvNvcJ4&sensor=false")
    script(type="text/javascript")
      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();

      function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var mapOptions = {
          zoom: 7,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          center: new google.maps.LatLng(41.850033, -87.6500523)
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directions-panel'));

        var control = document.getElementById('control');
        control.style.display = 'block';
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);
      }

      function calcRoute() {
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;
        var request = {
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.TRANSIT
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            console.log(response);
            var dirPanel = document.getElementById('directions-panel');
            var button = document.createElement('button');
            button.innerHTML = 'add directions to calendar';
            dirPanel.innHTML = button; //need to fix this - right now appends multiple buttons
          }
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);

  body
    div(id="control")
      strong Start:
      select(id="start", onchange="calcRoute();")
        option(value="chicago, il") Chicago
        option(value="st louis, mo") St Louis
        option(value="joplin, mo") Joplin, MO
        option(value="oklahoma city, ok") Oklahoma City
        option(value="amarillo, tx") Amarillo
        option(value="gallup, nm") Gallup, NM
        option(value="flagstaff, az") Flagstaff, AZ
        option(value="winona, az") Winona
        option(value="kingman, az") Kingman
        option(value="barstow, ca") Barstow
        option(value="san bernardino, ca") San Bernardino
        option(value="los angeles, ca") Los Angeles

      strong End:
      select(id="end", onchange="calcRoute();")
        option(value="chicago, il") Chicago
        option(value="st louis, mo") St Louis
        option(value="joplin, mo") Joplin, MO
        option(value="oklahoma city, ok") Oklahoma City
        option(value="amarillo, tx") Amarillo
        option(value="gallup, nm") Gallup, NM
        option(value="flagstaff, az") Flagstaff, AZ
        option(value="winona, az") Winona
        option(value="kingman, az") Kingman
        option(value="barstow, ca") Barstow
        option(value="san bernardino, ca") San Bernardino
        option(value="los angeles, ca") Los Angeles
    
    div(id="directions-panel")
    div(id="map-canvas")