extends layout

block content
    div(class="jumbotron")
        p Welcome! To get started, please sign in with your Google Calendar.
        form(action="/oauth")
            input(class="btn bt-large btn-primary", type="submit", value="Sign In")