body
    font 62.5%/1.5 Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
    text-align center
    background #000

#wrapper
    width 920px
    text-align left
    margin-left auto
    margin-right auto
    background #fff
    padding 20px
    border-bottom-radius(15px)